@model ProductoModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nuevo Producto</a>
</p>

<p>
    <input type="text" id="search" placeholder="Buscar producto" onkeyup="buscarProductos()"/>
</p>

<div id="productosList">

    <partial name="_ProductosList" model="Model"></partial>

</div>

@section Scripts {

    <script>

        function buscarProductos() {
            let texto = document.getElementById('search').value;
            fetch(`@Url.Action("Index", "Productos")?search=${encodeURIComponent(texto)}&tipo=1`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById("productosList").innerHTML = html;
                })
                .catch(error => console.error("error"));
        }

    </script>
}








            